.grid-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 10px 0 10px 10px;
    width: calc(97vw - 20px);
}

.grid-container .item1{
    grid-area: 1 / 1 / 2 / 3;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.grid-container .item1 b{
    padding-left: 10px;
}

.grid-container .item2{
    grid-area: 1 / 3 / 3 / 4;
    padding-top: 10px;
    margin-right: 10px;
    justify-self: end;
    align-self: center;
    fill: rgb(0, 80, 255);
}

.grid-container .item2 svg{
    cursor: pointer;
    position: relative;
    z-index: 5;
}

.grid-container .item2s{
    fill: black;
}

.grid-container .item2 rect:nth-child(1){
    transform-origin: 48% 0;
    transition: transform 0.3s;
}

.grid-container .item2 rect:nth-child(2){
    transform-origin: 50%;
    transition: transform 0.3s;
}

.grid-container .item2 rect:nth-child(3){
    transform-origin: 52% 100%;
    transition: transform 0.3s;
}

.grid-container .item2s rect:nth-child(1){
    transform-origin: 48% 0;
    transform: rotate(-135deg) translate(0, -19.5px);/*(正左上負右下,正右上負左下)*/
}

.grid-container .item2s rect:nth-child(2){
    transform-origin: 50%;
    transform: rotate(-45deg);
}

.grid-container .item2s rect:nth-child(3){
    transform-origin: 52% 100%;
    transform: rotate(-135deg) translate(0, 19.5px);/*(正左上負右下,正右上負左下)*/
}

.grid-container .item3{
    grid-area: 2 / 1 / 3 / 3;
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 0px 10px;
}

.grid-container .nav{
    position: absolute;
    z-index: 3;
    top: -10%;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    transition: all 0.5s;
}

.grid-container .nav div{
    position: relative;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -55%);
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    display: grid;
    justify-content: center;
    height: 200px;
}

.grid-container .nav2{
    z-index: 4;
    background-color: rgba(244, 236, 230);
    top: 0;
}

.grid-container .nav a:link{
    transition: all 0.3s ease;
    visibility: hidden;
    color: transparent;
}

.grid-container .nav2 a:link{
    visibility: visible;
    color: rgb(0, 0, 0);
}

.grid-container .nav2 a:visited{
    color: rgb(0, 0, 0);
}

.grid-container .nav2 a:nth-child(1):link{
    color: rgb(0, 80, 255);
}

.grid-container .nav2 a:nth-child(1):visited{
    color: rgb(0, 80, 255);
}

@media ( min-width : 600px ){
    .grid-container{
        grid-template-columns: 185px 10px auto;
        align-items: center;
        margin: 0;
        padding: 30px 10px;
        z-index: 5;
        position: fixed;
        top: 0;
        background-color: white;
    }
    .grid-container .item2{
        justify-self: stretch;
    }
    .grid-container .item2 svg{
        display: none;
    }
    .grid-container .nav{
        background-color: rgba(244, 236, 230);
        position: static;
        width: auto;
        height: auto;
    }
    .grid-container .nav div{
        grid-template-columns: repeat(4, auto);
        height: auto;
        position: static;
        justify-content: end;
        transform: translate(0);
        font-family: 'Prompt', sans-serif;
        font-size: 14px;
        column-gap: 20px;
        margin-right: 15px;
    }
    .grid-container .nav a:link{
        visibility: visible;
        color: rgb(0, 0, 0);
    }
    .grid-container .nav a:visited{
        color: rgb(0, 0, 0);
    }
    .grid-container .nav a:hover{
        color: rgb(0, 80, 255);
    }
    .grid-container .nav a:nth-child(1):link{
        color: rgb(0, 80, 255);
    }
    .grid-container .nav a:nth-child(1):visited{
        color: rgb(0, 80, 255);
    }
}

@media ( min-width : 800px ){
    .grid-container{
        grid-template-columns: 220px 145px auto;
        align-items: center;
        padding: 37.5px 10px;
    }
    .grid-container .item1{
        grid-area: 1 / 1 / 2 / 2;
        padding-right: 0;
        font-size: 25px;
    }
    .grid-container .item2{
        grid-area: 1 / 3 / 2 / 4;
    }
    .grid-container .item3{
        grid-area: 1 / 2 / 2 / 3;
        padding-top: 10px;
        padding-left: 0;
        font-size: 17px;
    }
    .grid-container .nav div{
        column-gap: 28px;
    }
    .item3::before{
        content: "/";
    }
}

@media ( min-width : 950px ){
    .grid-container{
        width: calc(100vw - 60px);
        padding: 37.5px;
    }
}