.position{
    position: relative;
    z-index: 3;
}

.duotone-bg{
    margin-top: 190px;
    display: grid;
}

.duotone-bg div:nth-child(1){
    background-color: rgb(230, 218, 206);
    width: 100%;
    /* height: calc(100vh - 86px - 165px - 227px);page-height - header-height - duotone-margin-height - footer-height */
    height: calc((100vw - 40px) / 0.713 / 0.61);
}

.duotone-bg div:nth-child(2){
    background-color: white;
}

.card{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-left: 20px;
    transform: translate(0 , -167.5px);
    width: calc(100% - 40px);
}

.card > div:nth-child(1){
    height: calc((100vw - 40px) / 0.713);
    background-color: rgb(244, 236, 230);
    box-shadow: rgba(138, 131, 124, 0.23) -11.31px 11.31px 17px 0px;
}

.card > div:nth-child(2){
    background-color: transparent;
}

.grid-card{
    display: grid;
    justify-content: center;
}

.grid-card div:nth-child(1){
    align-self: center;
    margin: 10px auto 0 auto;
}

.grid-card div:nth-child(1) img{
    border-radius: 50%;
    width: 37.5vw; /*120px*/
}

.grid-card div:nth-child(2){
    text-align: center;
    font-size: 6.5625vw; /*21px*/
    font-family: 'Be Vietnam Pro', sans-serif;
}

.grid-card div:nth-child(3) > div{
    margin: 0 auto;
    width: 68px;
    height: 2px;
    background-color: rgb(0, 80, 255);
}

.grid-card div:nth-child(4){
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 1.5625vw; /*5px*/
}

.grid-card div:nth-child(4) button{
    cursor: pointer;
    width: 37.5vw; /*120px*/
    height: 10.312vw; /*33px*/
    font-family: 'Work Sans', sans-serif;
    font-size: 4.6875vw; /*15px*/
    border-radius: 100px;
}

.grid-card div:nth-child(4) a:nth-child(1) button{
    border: none;
    background-color: rgb(0, 80, 255);
    color: white;
}

.grid-card div:nth-child(4) a:nth-child(2) button{
    border: 1px solid black;
    background-color: transparent;
}

.grid-card div:nth-child(4) p{
    font-family: 'Prompt', sans-serif;
    letter-spacing: 0.8vw;
    text-align: center;
    margin: 0 auto;
    font-size: 1.814vw;
}

.grid-card div:nth-child(5){
    margin: 0 auto;
    background-color: white;
    width: calc(100vw - 57px);
    height: 40px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    column-gap: 9.375vw; /*30px*/
}

.grid-card div:nth-child(5) a:link, .grid-card div:nth-child(5) a:visited{
    color: black;
}

.grid-card div:nth-child(5) svg{
    width: 6.25vw;
    height: 6.25vw;
}

.grid-content{
    margin-top: 20px;
    padding: 10px;
    display: grid;
    row-gap: 20px;
}

.grid-content div:nth-child(1){
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12.5vw;
}

.grid-content div:nth-child(2){
    font-family: 'Work Sans', sans-serif;
    font-size: 5.9375vw;
}

.grid-content div:nth-child(3) button{
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    border-radius: 100px;
}

.grid-content div:nth-child(3) a:nth-child(1) button{
    border: none;
    background-color: rgb(0, 80, 255);
    color: white;
    transition: background-color 0.5s, color 0.5s;
    margin-right: 5px;
}

.grid-content div:nth-child(3) a:nth-child(1):hover button{
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 80, 255);
}

.grid-content div:nth-child(3) a:nth-child(2) button{
    border: 1px solid black;
    background-color: transparent;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.grid-content div:nth-child(3) a:nth-child(2):hover button{
    border: none;
    background-color: rgb(0, 80, 255);
    color: white;
}

.grid-content div:nth-child(4){
    font-family: 'Jost', sans-serif;
    font-size: 5vw;
}

@media ( min-width : 375px ){
    .grid-card div:nth-child(1) img{
        width: 140.25px;
    }
    .grid-card div:nth-child(2){
        font-size: 24.6px;
    }
    .grid-card div:nth-child(4){
        column-gap: 5.86px;
    }
    .grid-card div:nth-child(4) button{
        width: 140.63px;
        height: 38.66px;
        font-size: 17.5781px;
    }
    .grid-card div:nth-child(5){
        column-gap: 35.1562px;
    }
    .grid-card div:nth-child(5) svg{
        width: 23.4375px;
        height: 23.4375px;
    }
    .grid-content div:nth-child(1){
        font-size: 46.75px;
    }
    .grid-content div:nth-child(2){
        font-size: 22.21px;
    }
    .grid-content div:nth-child(4){
        font-size: 18.7px;
    }
}

@media ( min-width : 415px ) {
    .duotone-bg div:nth-child(1){
        height: 862px;
    }
    /*card*/
    .card{
        width: 357px;
        margin: 0 auto;
    }
    .card > div:nth-child(1){
        height: 525px;
    }
    .grid-card div:nth-child(5){
        width: 357px;
    }
}

@media ( max-width : 599px ){
    .grid-card div:nth-child(4) p{
        display: none;
    }
    .grid-content div:nth-child(3){
        display: none;
    }
}

@media ( min-width : 600px ) {
    .duotone-bg{
        grid-template-columns: 40% 60%;
        /* margin-top: 40px; header-margin 30px, actual margin 10px */
        margin-top: 138px; /*because position:fixed*/
    }
    .duotone-bg div:nth-child(1){
        /* height: calc(100vh - 126px - 10px - 110px); */
        height: 826px;
    }
    /*card*/
    .card{
        width: calc(93% - 15.8px);
        display: grid;
        grid-template-columns: 43.8% calc(56.2% - 40px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* transform: translate(0,49%); */
        margin: 0 20px;
    }
    .card > div:nth-child(1){
        height: calc((100vw - 40px) / 0.6835 * 0.4);
    }
    .grid-card div:nth-child(1) img{
        width: 21.88vw;
    }
    .grid-card div:nth-child(2){
        font-size: 2.88vw;
    }
    .grid-card div:nth-child(3) > div{
        width: 50px;
    }
    .grid-card div:nth-child(4) button{
        display: none;
    }
    .grid-card div:nth-child(5){
        height: 100%;
        width: calc(100vw * 0.93 * 0.438 - 6.93px);
        column-gap: 3.2vw;
    }
    .grid-card div:nth-child(5) svg{
        width: 2.666vw;
        height: 2.666vw;
    }
    .grid-content{
        margin-top: 5px;
        margin-left: 2.6652vw;
        row-gap: 0;
        grid-template-rows: 15.99vw auto auto 19.0298vw;
    }
    .grid-content div:nth-child(1){
        align-self: center;
        font-size: 10.66vw;
    }
    .grid-content div:nth-child(2){
        font-size: 2.665vw;
    }
    .grid-content div:nth-child(3) button{
        width: 13.85vw;
        height: 3.731vw;
        font-size: 1.4925vw;
    }
    .grid-content div:nth-child(4){
        width: 39.339vw;
        font-size: 1.812vw;
    }
}

@media ( min-width : 600px ){ /*origin-938px*/
    .card{
        width: 99.53vw; /*origin-856px*/
        grid-template-columns: 375px 441px;
    }
    .card > div:nth-child(1){
        width: 375px;
        height: 525px;
    }
    .grid-card div:nth-child(1) img{
        width: 205px;
    }
    .grid-card div:nth-child(2){
        font-size: 27px;
    }
    .grid-card div:nth-child(4) p{
        font-size: 17px;
        letter-spacing: 7.5px;
    }
    .grid-card div:nth-child(5){
        width: 375px;
        column-gap: 30px;
    }
    .grid-card div:nth-child(5) svg{
        width: 25px;
        height: 25px;
    }
    .grid-content{
        margin-left: 25px;
        grid-template-rows: 150px auto auto 178.5px;
    }
    .grid-content div:nth-child(1){
        font-size: 100px;
    }
    .grid-content div:nth-child(2){
        font-size: 25px;
    }
    .grid-content div:nth-child(3) button{
        width: 130px;
        height: 35px;
        font-size: 14px;
    }
    .grid-content div:nth-child(4){
        width: 369px;
        font-size: 17px;
    }
}

/* @media ( min-width : 800px ) {
    .duotone-bg{
        margin-top: 47.5px; header-margin 37.5px, actual margin 10px
    }
} */

@media ( min-width : 600px) and ( max-width : 859px ){/*origin-nothing*/
    .duotone-bg{
        grid-template-columns: 344px auto;
    }
}

@media ( min-width : 860px ){/*origin-nothing*/
    .card{
        width: 856px;
    }
}



/* @media ( min-width : 950px ){
    .card{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        grid-template-columns: 375px 467.5px;
    }
} */