/*for nav*/
.grid-container .nav2 a:nth-child(1):link{
    color: rgb(0, 0, 0);
}

.grid-container .nav2 a:nth-child(1):visited{
    color: rgb(0, 0, 0);
}

.grid-container .nav2 a:nth-child(4):link{
    color: rgb(0, 80, 255);
}

.grid-container .nav2 a:nth-child(4):visited{
    color: rgb(0, 80, 255);
}

@media ( min-width : 600px ){
    .grid-container .nav a:nth-child(1):link{
        color: rgb(0, 0, 0);
    }
    .grid-container .nav a:nth-child(1):visited{
        color: rgb(0, 0, 0);
    }
    .grid-container .nav a:nth-child(4):link{
        color: rgb(0, 80, 255);
    }
    
    .grid-container .nav a:nth-child(4):visited{
        color: rgb(0, 80, 255);
    }
    .grid-container .nav a:nth-child(1):hover{
        color: rgb(0, 80, 255);
    }
}
/*professional sec*/
.bg{
    background-color: rgb(230, 218, 206);
    padding: 65px 0 50px;
    position: relative;
    z-index: 3;
}

.contact-grid{
    display: grid;
    width: 87.5vw;
    margin: 0 auto;
}

.contact-title{
    text-align: center;
    margin-bottom: 43px;
}

.contact-title svg{
    font-size: 20px;
    margin-right: 8px;
    vertical-align: baseline;
}

.contact-title b{
    font-size: 29px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.contact-card{
    background-color: white;
    box-shadow: rgba(138, 131, 124, 0.23) -11.31px 11.31px 17px 0px;
    margin: 0 auto;
    padding: 25px 0;
    display: grid;
}

.contact-content{
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 1px;
    margin: 25px;
    text-align: center;
}

.contact-icon{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    margin: 25px;
}

.contact-icon a svg{
    font-size: 45px;
}

.contact-icon a:nth-child(1):link svg, .contact-icon a:nth-child(1):visited svg{
    color: rgb(0, 119, 255);
}

.contact-icon a:nth-child(2):link svg, .contact-icon a:nth-child(2):visited svg{
    color: rgb(237, 12, 230);
}


@media ( min-width : 410px ){
    .contact-card{
        width: 358.75px;
    }
}

@media ( min-width : 600px ){
    .bg{
        width: 896px;
        padding-top: 251px;
        padding-bottom: 75px;
    }
    .contact-grid{
        width: 724px;
        row-gap: 0;
    }
    .contact-title{
        margin-bottom: 40px;
    }
    .contact-title svg{
        font-size: 23px;
    }
    .contact-title b{
        font-size: 35px;
    }
    .contact-card{
        width: 679px;
    }
    .contact-content{
        font-size: 20px;
        margin: 75px;
    }
    .contact-icon{
        font-size: 50px;
    }
}

@media ( min-width : 913px ){
    .bg{
        width: auto;
    }
}