/*for nav*/
.grid-container .nav2 a:nth-child(1):link{
    color: rgb(0, 0, 0);
}

.grid-container .nav2 a:nth-child(1):visited{
    color: rgb(0, 0, 0);
}

.grid-container .nav2 a:nth-child(2):link{
    color: rgb(0, 80, 255);
}

.grid-container .nav2 a:nth-child(2):visited{
    color: rgb(0, 80, 255);
}

@media ( min-width : 600px ){
    .grid-container .nav a:nth-child(1):link{
        color: rgb(0, 0, 0);
    }
    .grid-container .nav a:nth-child(1):visited{
        color: rgb(0, 0, 0);
    }
    .grid-container .nav a:nth-child(2):link{
        color: rgb(0, 80, 255);
    }
    
    .grid-container .nav a:nth-child(2):visited{
        color: rgb(0, 80, 255);
    }
    .grid-container .nav a:nth-child(1):hover{
        color: rgb(0, 80, 255);
    }
}
/*resume sec*/
.bg{
    background-color: rgb(230, 218, 206);
    padding: 65px 0 50px;
    position: relative;
    z-index: 3;
}

.resume-grid{
    display: grid;
    width: 87.5vw;
    margin: 0 auto;
    row-gap: 30px;
}

.resume-title{
    text-align: center;
}

.resume-title svg{
    font-size: 20px;
    margin-right: 8px;
    vertical-align: baseline;
}

.resume-title b{
    font-size: 29px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.resume-topic{
    /* display: grid;
    grid-template-columns: 50% 50%;
    align-items: center; */ /*for download CV*/
    text-align: center;
}

.resume-topic > p{
    font-size: 18px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.resume-topic a{
    justify-self: end;
}

.resume-topic > a button{
    cursor: pointer;
    width: 125px;
    height: 33px;
    font-family: 'Work Sans', sans-serif;
    font-size: 12.4px;
    border-radius: 100px;
    border: none;
    background-color: rgb(0, 80, 255);
    color: white;
}

.resume-card{
    background-color: white;
    box-shadow: rgba(138, 131, 124, 0.23) -11.31px 11.31px 17px 0px;
    padding: 30px 25px;
    margin: 0 auto;
    display: grid;
}

.resume-card div p{
    font-family: 'Red Hat Display', sans-serif;
}

.resume-card-content p{
    font-size: 15px;
}

.resume-card-content > p:nth-child(1){
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    color: rgb(0, 80, 255);
}

.resume-card-content > p:nth-child(2){
    font-size: 16px;
    margin: 10px 0;
}

.resume-card-content div{
    line-height: 18px;
    margin: 20px 0;
}

.resume-card-content2 p{
    font-size: 17px;
}
@media ( min-width : 410px ){
    .resume-card{
        width: 358.75px;
    }
}
/*.................for collapse.................*/
@media ( max-width : 599px ){
    .resume-card{
        cursor: pointer;
    }
    .resume-card-content2{
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s;
    }
    
    .resume-card-content3{
        max-height: 300px;
    }
    
    .resume-card:hover, .active{
        transition: all 0.3s;
        background-color: rgb(248, 245, 242);
    }
    
    .click{
        display: none;
    }
}

@media ( min-width : 600px ){
    .resume-card-content > p:nth-child(4){
        display: none;
    }
}
/*..............................................*/
@media ( min-width : 600px ){
    .bg{
        width: 896px;
        padding-top: 251px;
        padding-bottom: 45px;
    }
    .resume-grid{
        width: 724px;
        row-gap: 0;
    }
    .resume-title{
        margin-bottom: 40px;
    }
    .resume-title svg{
        font-size: 23px;
    }
    .resume-title b{
        font-size: 35px;
    }
    .resume-topic p{
        font-size: 25px;
        margin: 67px 0 52px 0;
    }
    .resume-card{
        width: 724px;
        height: 367.5px;
        padding: 85px 50px 0;
        margin-bottom: 39px;
        grid-template-columns: 43% 57%;
    }
    .resume-card-content p{
        font-size: 14px;
    }
    .resume-card-content > p:nth-child(1){
        font-size: 20px;
        white-space: nowrap;
    }
    .resume-card-content > p:nth-child(2){
        font-size: 17px;
    }
    .resume-card-content div{
        line-height: 1;
        margin: 10px 0;
    }
    .resume-card-content div > p{
        margin-bottom: 25px;
    }
    .resume-card-content2 p{
        margin-top: 34px;
        line-height: 1.5;
    }
}

@media ( min-width : 913px ){
    .bg{
        width: auto;
    }
}