.bg2{
    background-color: rgb(230, 218, 206);
    padding: 0 0 50px;
    position: relative;
    z-index: 3;
}

.resume-card-skill{
    width: 87.5vw;
    margin: 0 auto;
    background-color: white;
    box-shadow: rgba(138, 131, 124, 0.23) -11.31px 11.31px 17px 0px;
    padding: 0 25px 30px;
}

.resume-card-skill > p{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
    padding: 30px 0;
}

.skill{
    padding-bottom: 32px;
    display: grid;
    row-gap: 26px;
}

.skill div{
    display: grid;
    grid-template-columns: 21.5px auto;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    align-items: center;
}

@media ( min-width : 410px ){
    .resume-card-skill{
        width: 358.75px;
    }
}

@media ( min-width : 600px ){
    .bg2{
        width: 896px;
        padding-bottom: 84px;
    }
    .resume-card-skill{
        width: 724px;
        padding: 45px 50px 53px;
    }
    .resume-card-skill > p{
        font-size: 25px;
    }
    .skill{
        grid-template-columns: 50% 50%;
    }
}

@media ( min-width : 913px ){
    .bg2{
        width: auto;
    }
}