.grid-footer{
    display: grid;
    font-family: 'Jost', sans-serif;
    margin: 27px 0 40px;
}

.grid-footer > div:nth-child(2){
    margin: 30px 20px 0;
    font-size: 14px;
}

.grid-contact{
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 15px;
}

.grid-contact > div{
    margin: 0 20px;
    line-height: 1.9;
}

.grid-contact div p:nth-child(1){
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.grid-contact div p:nth-child(2){
    font-family: 'Jost', sans-serif;
    font-size: 14px;
}

.grid-contact > div:nth-child(3) > div{
    display: grid;
    grid-template-columns: repeat(3, 18px);
    transform: translate(-4px, 0);
    column-gap: 20px;
}

.grid-contact > div:nth-child(3) > div a:link, .grid-contact > div:nth-child(3) > div a:visited{
    color: black;
}

.grid-contact > div:nth-child(3) > div a, .grid-contact > div:nth-child(3) > div a svg{
    width: 18px;
    height: 18px;
}

@media ( min-width : 410px ){
    .grid-contact{
        grid-template-columns: repeat(3, auto);
    }
}

@media ( min-width : 600px ){
    .grid-footer{
        margin: 0;
        height: 110px;
        grid-template-columns: 344px auto;
        align-items: center;
    }
    .grid-footer > div:nth-child(1){
        justify-self: end;
        grid-area: 1 / 2 / 2 / 3;
    }
    .grid-footer > div:nth-child(2){
        grid-area: 1 / 1 / 2 / 2;
        margin: 0 0 0 50px;
        width: 200px;
    }
    .grid-contact{
        text-align: center;
        font-size: 14px;
        margin-right: 80px;
        column-gap: 35px;
        white-space: nowrap;
    }
    .grid-contact > div:nth-child(3) > div{
        transform: translate(0);
        justify-content: center;
    }
    .grid-contact > div:nth-child(3) > div a, .grid-contact > div:nth-child(3) > div a svg{
        width: 14px;
        height: 14px;
    }
}